.header{
    height: 55px;
    display: flex;
    flex-direction: rows;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: rgb(139, 133, 133);
    cursor: pointer;
  
}

.search-bar{
    flex: 1;
    height: 40px;
    padding-left: 10px;
    border-style: solid ;
    border-width: 2px;
    border-color: gray;
    font-size: 20px;
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px
    rgba,(0, 0, 0.05);
    width: 0%;
}
   

.search-bar::placeholder{
    font-family: roboto, Arial;
    font-size: 14px;
   
}
 
.left-section{
    display: flex;
    align-items: center;
}
.middle-section{

    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;

}
.right-section{
    
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
}
.hamburger-menu{
    height: 46px;
    margin-left: 25px;
    margin-right: 25px;
}
.youtube-logo{
    height: 70px;
}
.search-1{
    height: 35px;
}
.search-button{
    cursor: pointer;
}

.search-button, 
.voice-search-button,
.upload-container,
.apps5,
.noltifs{
    display: felx;
    justify-content: center;
    align-items: center;
    position: relative;

}
   
.search-button .tooltip,
.voice-search-button .tooltip,
.upload-container .tooltip,
.apps5 .tooltip,
.noltifs .tooltip{
    position: absolute;
    background-color:grey;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 4px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}
.search-button:hover .tooltip, 
.voice-search-button:hover .tooltip,
.apps5:hover .tooltip,
.upload-container:hover .tooltip,

.noltifs:hover .tooltip{
    opacity: 1;
  

}

.microphone{
    height: 35px;
    
}
.upload-icon{
    height: 29px;
    margin-right: 8px;
}
.apps-icon{
    height: 29px;
    margin-left: 5px;
    margin-right: 3px;

}
.youtube-noti{
    height: 29px;
 
}
.notification-container{
    position: relative;
}
.notification-counts{
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    font-family: roboto, arial;
    font-size: 11px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
    border-radius: 10px;
}
.user-pic{
    height: 30px;
    border-radius: 15px;
}